Source: y-cpp-hello-world
Section: misc
Priority: optional
Maintainer: yesseruser <yesseruseryt@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-cmake, cmake, g++
Standards-Version: 4.5.1

Package: y-cpp-hello-world
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: yesseruser's C++ Hello World
 This package prints "Hello, world! from C++!".
